:root {
  /* COLORS */
  --clr-light-blue: rgb(0, 121, 255);
  --clr-light-mediumgray: rgb(105, 124, 154);
  --clr-light-bluegray: rgb(75, 106, 155);
  --clr-light-darkgray: rgb(43, 52, 66);
  --clr-light-lightgray: rgb(246, 248, 255);
  --clr-light-offwhite: rgb(254, 254, 254);

  --clr-dark-blue: rgb(0, 119, 255);
  --clr-dark-white: rgb(255, 255, 255);
  --clr-dark-blackish: rgb(20, 29, 47);
  --clr-dark-darkgray: rgb(30, 42, 71);

  /* TYPOGRAPHY */
  --ff-default: "Space Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-default);
}

body {
  background-color: var(--clr-dark-blackish);
  color: var(--clr-dark-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.9375rem 1.5rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

header span {
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  color: var(--clr-dark-white);
}

.button-light {
  background-image: url(./assets/icon-sun.svg);
  background-position: right;
  background-repeat: no-repeat;
  text-align: left;
  width: 5.625rem;
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2.5px;
}

.button-light:hover {
  background-color: pink;
  cursor: pointer;
}

main {
  width: 100%;
}

.searchbar {
  background-color: var(--clr-dark-darkgray);
  width: 100%;
  border-radius: 15px;
  padding: 1.25rem 1rem;
}

.profile {
  display: grid;
  grid-template-areas:
    "img name"
    "img username"
    "img date"
    "bio bio";
}

.profile-image {
  grid-area: img;
}

.profile-image img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  grid-area: name;
}

.profile-username {
  font-size: 13px;
  line-height: 19px;
  grid-area: username;

  color: #0079ff;
}

.profile-date {
  font-size: 13px;
  line-height: 19px;
  grid-area: date;

  color: #ffffff;
}

.profile-bio {
  font-size: 13px;
  line-height: 25px;
  /* or 192% */
  grid-area: bio;

  color: #ffffff;
}

.result-container {
  background-color: #1e2a47;
  border-radius: 15px;
  padding: 32px 24px;
  margin-top: 16px;
}

.counters {
  background-color: #141d2f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 1.125rem 0.9375rem;
  border-radius: 10px;
  margin: 24px auto;
}

.counters div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.counter-name {
  font-size: 11px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;
}

.counter-number {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
